.footer {
  padding-top: 42px;
  padding-bottom: 27px;
  background-color: $color-black-russia;

  @include vp-1199 {
    padding-top: 41px;
  }

  @include vp-767 {
    padding-top: 43px;
    padding-bottom: 51px;
  }
}

.footer__box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  @include vp-1199 {
    align-items: center;
  }
}

.footer__nav {
  max-width: 900px;

  @include vp-1199 {
    max-width: 72vw;
  }

  @include vp-767 {
    max-width: 76.25vw;
    margin-bottom: 23px;
  }
}
