.product {
  background-color: $color-default-white;
  z-index: 2;
  padding: 68px 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-within,
  &:active {
    &::after {
      position: absolute;
      content: "";
      top: 5px;
      bottom: 1px;
      left: 0;
      right: 0;
      z-index: -1;
      border: 7px solid transparent;
      border-image: $red-to-blue-bottom-low;
      border-image-slice: 1;

      @include vp-1199 {
        top: 1px;
        bottom: -3px;
      }

      @include vp-767 {
        top: -1px;
        bottom: 0;
      }
    }
  }

  @include vp-1199 {
    padding: 64px 60px 65px;
  }

  @include vp-767 {
    padding: 51px 42px 54px;
  }
}

.product h3 {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 9px;
  color: $color-sapphire;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.product p {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: $color-chambray;
  margin-bottom: 67px;

  @include vp-767 {
    margin-bottom: 55px;
  }
}

.product__price-box {
  display: flex;
  position: relative;
  margin-bottom: 33px;

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.product__price-box p {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  color: $color-egyptian-blue;

  &:not(:last-of-type) {
    margin-right: 11px;

    @include vp-767 {
      margin-right: 8px;
    }
  }

  &:not(:first-of-type) {
    color: $color-sapphire;
  }

  @include vp-767 {
    font-size: 48px;
  }
}

.product__price-box span {
  font-size: 100px;
  line-height: 150%;
  opacity: 0.48;
  font-weight: 700;
  color: $color-whisper;
  position: absolute;
  top: -53px;
  left: -15px;
  z-index: -1;

  @include vp-767 {
    font-size: 80px;
    top: -45px;
  }
}

.product__link-button {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  max-width: 206px;
  width: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 24px 42px;
  color: $color-sapphire;
  border: 2px solid $color-sapphire;
  user-select: none;

  &:hover,
  &:focus {
    border: none;
    padding: 26px 44px;
    background-image: $red-to-blue-right;
    color: $color-default-white;

    @include vp-1199 {
      padding: 26px 44px;
    }
  }

  @include vp-1199 {
    padding: 24px 42px;
  }
}
