.reviews-card {
  height: 242px;
  max-width: 560px;
  padding: 62px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px $color-box-shadow;
  position: relative;

  @include vp-1199 {
    max-width: 100%;
    padding: 62px 65px;
  }

  @include vp-767 {
    padding: 40px 25px 34px;
    min-height: 335px;
    height: 100%;
  }
}

.reviews-card__image-box {
  @include vp-767 {
    position: absolute;
    top: 40px;
    left: 41px;
  }
}

.reviews-card__image {
  border-radius: 50%;
  background-color: $color-light-slate-grey;

  @include vp-767 {
    min-width: 68px;
    min-height: 68px;
    aspect-ratio: 1/1;
    width: 21vw;
    height: auto;
  }
}

.reviews-card__text-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 328px;
  margin-left: 28px;

  @include vp-1199 {
    width: 42.7vw;
    max-width: none;
  }

  @include vp-767 {
    width: 100%;
    margin-left: 0;
  }
}

.reviews-card__text-box h3 {
  margin: 0;
  margin-top: -8px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: $color-default-white;

  @include vp-767 {
    line-height: 130%;
    align-self: flex-end;
    width: 44%;
    margin-top: 9px;
    margin-bottom: 21px;
  }
}

.reviews-card__text-box p {
  margin: 0;
  color: $color-default-white;
  font-size: 16px;
  line-height: 140%;

  @include vp-767 {
    text-align: center;
    display: block;
    margin-top: auto;
  }

  @include vp-374 {
    margin-top: 0;
  }
}
