.subscriptions {
  position: relative;
  padding-top: 120px;
  padding-bottom: 117px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 104px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  &::after {
    position: absolute;
    bottom: -69px;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 287px;
    height: 412px;
    content: "";
    background-image: image-set(url("../img/subscriptions/weights@1x.webp") 1x, url("../img/subscriptions/weights@2x.webp") 2x);

    @include vp-1199 {
      width: 346px;
      height: 371px;
      bottom: -56px;
      background-image: image-set(url("../img/subscriptions/weights-tablet@1x.webp") 1x, url("../img/subscriptions/weights-tablet@2x.webp") 2x);
    }

    @include vp-767 {
      background-image: none;
    }
  }
}

.subscriptions h2 {
  margin: 0;
  font-family: $ff-placeholder;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-left: -13px;
    margin-bottom: 9px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 11px;
  }
}
